In [4]:
import numpy as np

In [11]:
{}

{}

In [12]:
np.random.seed(12345)

In [13]:
array_in_2d = np.random.randint(0, 100, size=(10,5))
array_in_2d

array([[98, 29,  1, 36, 41],
       [34, 29,  1, 59, 14],
       [91, 80, 73, 11, 77],
       [10, 81, 82, 38,  7],
       [43, 23, 29, 56, 55],
       [31, 61, 97, 91, 87],
       [36, 64,  3,  5, 15],
       [75, 14, 81,  5, 34],
       [53, 72,  5, 98,  5],
       [59, 83, 12, 14, 80]])

In [14]:
array_in_2d[2,3]

11

In [15]:
array_in_2d[:,2]

array([ 1,  1, 73, 82, 29, 97,  3, 81,  5, 12])

In [16]:
array_in_2d.shape

(10, 5)

In [18]:
array_in_2d.max()

98

In [19]:
array_in_2d.mean()

45.56

In [23]:
def calculate_array_in_2d(input_array, axis = None):
    """
    This function 
    """

    # Local variable
    result = None

    # Help variable
    nrows, ncols = input_array.shape

    N = nrows * ncols

    # Average over all the elements
    if axis == None:
        cumsum = 0

        # Access each row from the array
        for i in range(nrows):
            # Access each value from the row
            for j in range(ncols):
                # Add cumulative sum
                cumsum += input_array[i, j]
        
        # Calculate total average
        result = cumsum / N

        # Average vertically downwards across rows
    elif axis == 0:
            # Result is a list, in which we will append respective values
            result = []

            # Access each row from the array
            for j in range(ncols):
                average = input_array[:, j].sum() / nrows
                result.append(average)
            
            # Append the value to the result
            result = np.array(result)

    elif axis == 1:
# Result is a list, in which we will append respective values
            result = []

            # Access each row from the array
            for i in range(nrows):
                average = input_array[i, :].sum() / ncols
                result.append(average)

            
            # Append the value to the result
            result = np.array(result)
        # Return object
    return result

In [24]:
calculate_array_in_2d(array_in_2d)

45.56

In [25]:
calculate_array_in_2d(array_in_2d, axis=0)

array([53. , 53.6, 38.4, 41.3, 41.5])

In [26]:
calculate_array_in_2d(array_in_2d, axis=1)

array([41. , 27.4, 66.4, 43.6, 41.2, 73.4, 24.6, 41.8, 46.6, 49.6])